@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }

  /* ICONS */
  .bg-logo-negative {
     background-image: url('../../assets/icons/LogoNegative.svg');
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
     background-color: transparent !important;
  }