/* Flotación simulada */
#pageBackground > .bg-main-corpo,
#pageBackground > .bg-main-corpo-before {
  background-position: var(--bg-pos-x, 50%) var(--bg-pos-y, 50%);
  background-size: var(--bg-scale, 15dvh);
  transition: background-position 1s ease, background-size 1s ease, filter 0.5s ease;
}

@keyframes floatingBackground {
    0% {
      background-position: 50% 50%;
      transform: scale(1) translate(0, 0);
    }
    25% {
      background-position: 48% 52%;
      transform: scale(1.02) translate(-2px, 3px);
    }
    50% {
      background-position: 52% 48%;
      transform: scale(1.01) translate(3px, -2px);
    }
    75% {
      background-position: 49% 51%;
      transform: scale(1.03) translate(-1px, 2px);
    }
    100% {
      background-position: 50% 50%;
      transform: scale(1) translate(0, 0);
    }
  }
  
  @keyframes pseudoMove {
    0% { background-position: 0 0; }
    50% { background-position: -50px -50px; }
    100% { background-position: 0 0; }
  }

  @keyframes rotateBackground {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }