---

---

<header
  class="top-0 left-0 z-10 fixed flex justify-center items-center border-primary-a90 bg-primary-a80 border-b-[6px] w-full h-16 transition-all ease-out"
>
  <nav class="space-x-6 text-primary-a0 text-xl cursor-default navbar">
    <!-- Links a secciones -->
    <a href="#home" title="Here I Am - Sergio Domínguez Pérez">Inicio</a>
    <a href="#about">Sobre mí</a>
    <a href="#projects">Proyectos</a>
    <a href="#contact">Contacto</a>
  </nav>
</header>
