---
import Layout from "../layouts/BaseLayout.astro";
// Sections
import Home from "../sections/Home.astro";
import About from "../sections/About.astro";
import Projects from "../sections/Projects.astro";
import Contact from "../sections/Contact.astro";
---

<Layout title="Here I Am - Sergio Domínguez Pérez">
  <Home />
  <h2
    class="absolute mx-auto mb-4 w-[100%] font-bold text-4xl text-center z-10"
  >
  <a href="#about" title="Experiencia Sergio Domínguez Pérez">
    SOBRE MÍ</a>
  </h2>
  <About />
  <h2
    class="absolute mx-auto mb-4 w-[100%] font-bold text-3xl text-center z-10"
  >
    PROYECTOS
  </h2>
  <Projects />
  <h2
    class="absolute mx-auto mb-4 w-[100%] font-bold text-3xl text-center z-10"
  >
    CONTACTO
  </h2>
  <Contact />
</Layout>
