---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Here I Am - Sergio Domínguez Pérez">
  <Header />
  <main class="flex w-7/12 m-auto justify-self-center self-center flex-col p-4">
    <div>Hola</div>
    <div>Adios</div>
  </main>
  <Footer />
</Layout>
