---
import "./spotify.ts";
---

<html>
  <head>
    <title></title>
  </head>
  <body>
    <main>
      <section class="w-screen">
        <div class="bg-gradient-to-bl from-blue-900 to-blue-500 , container">
          <h1>Esto es una API</h1>
          <h2>Alejate Por favor Intruso</h2>
          <h3>(No deberías estar aquí)</h3>
        </div>
      </section>
    </main>
  </body>
</html>
