---
// src/sections/About.astro
// Fetch spotify API data
---

<section
  id="about"
  class="flex flex-col justify-center items-center from-primary-a70 to-primary-a60 bg-gradient-to-b h-screen text-center section"
  data-title="Experiencia"
>
  <p class="mx-auto max-w-xl text-lg bg-transparent">
    Soy un desarrollador apasionado por crear soluciones innovadoras que
    resuelvan problemas reales...
  </p>
  <section class="bg-transparent">
    <!-- <MusicPlayer playlist={playlist} /> -->
  </section>
</section>
