---
// src/sections/About.astro
// Fetch spotify API data
---

<section
  id="about"
  class="flex flex-col justify-center items-center bg-gray-800 h-screen text-center"
  data-title="Sobre mí"
>
  <h2 class="mb-4 font-bold text-3xl">Sobre mí</h2>
  <p class="mx-auto max-w-xl text-lg">
    Soy un desarrollador apasionado por crear soluciones innovadoras que
    resuelvan problemas reales...
  </p>
  <section>
    <!-- <MusicPlayer playlist={playlist} /> -->
  </section>
</section>
