---
// src/sections/Contact.astro
---

<section
  id="contact"
  class="flex flex-col justify-center items-center bg-gray-600 h-screen text-center"
>
  <h2 class="mb-4 font-bold text-3xl">Contacto</h2>
  <p class="mx-auto max-w-xl text-lg">
    ¿Tienes alguna pregunta o quieres trabajar juntos? ¡Contáctame!
  </p>
</section>
