---
// src/sections/Contact.astro
---

<section
  id="contact"
  class="flex flex-col justify-center items-center from-primary-a60 to-primary-a50 bg-gradient-to-b h-screen text-center section"
  data-title="Contactame"
>
  <p class="mx-auto max-w-xl text-lg">
    ¿Tienes alguna pregunta o quieres trabajar juntos? ¡Contáctame!
  </p>
</section>
