---
// src/sections/Home.astro
---

<section
  id="home"
  class="flex flex-col justify-center items-center bg-gray-900 h-screen text-center"
  data-title="Bienvenido a mi portafolio"
>
  <h1 class="mb-4 font-bold text-4xl">Bienvenido a mi portafolio</h1>
  <p class="text-lg">
    Explora mis proyectos, conoce más sobre mí, y no dudes en contactarme.
  </p>
</section>
