---
// src/sections/Home.astro
---

<section
  id="home"
  class="flex flex-col justify-start items-center from-primary-a70 to-[#0f0e1db3] to-[70%] bg-gradient-to-t h-screen text-center section"
  data-title="Here I Am"
>
  <div class="mt-[40dvh]">
    <h1 class="block mb-4 font-bold text-5xl"><span id="pageTitle">Here I Am </span><span class="block">Sergio Domínguez Pérez</span></h1>
    <h2 class="text-xl">
      Explora mis proyectos y conoce más sobre mí
    </h2>
  </div>
</section>
